@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; 
    
} 

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    list-style: none;  
    background-color: gray; 
    padding: 2rem;
    margin-top: -2px;  
    text-align: center;
} 

.banner{
    background-color: green; 
    padding: 20vh; 
    font-size: .6rem;
}